@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedElement>

@{
    var title = Model.Value<string>("title");
    var address = Model.Value<string>("address");
    var phone = Model.Value<string>("phone");
    var email = Model.Value<string>("email");

    var bgImage = Model.Value<IPublishedContent>("backgroundImage");
    var personImage = Model.Value<IPublishedContent>("personImage");
}

<section class="bg-bg-lightgrey">
    <div class="page-container flex pt-6 gap-12">

        <div class="relative flex items-end">
            @if (bgImage != null)
            {
                <img src="@bgImage.Url()" alt="" class="absolute bottom-0 left-0 z-0" />
            }

            @if (personImage != null)
            {
                <img src="@personImage.Url()" alt="Contact person" class="relative bottom-0 z-10" />
            }
        </div>

        <div class="pt-24 pb-24 max-w-[420px]">
            @if (!string.IsNullOrWhiteSpace(title))
            {
                <h2>@Html.Raw(title)</h2>
            }

            @if (!string.IsNullOrWhiteSpace(address))
            {
                <div class="pt-6 flex items-start gap-2">
                    <i class="fa-solid fa-location-dot text-[24px] text-mid-beige"></i>
                    <div>
                        <p class="font-semibold">Office location</p>
                        <p>@Html.Raw(address)</p>
                    </div>
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(phone))
            {
                <div class="pt-6 flex items-start gap-2">
                    <i class="fa-solid fa-phone text-[24px] text-mid-beige"></i>
                    <div>
                        <p class="font-semibold">Phone number</p>
                        <p><a href="tel:@phone">@phone</a></p>
                    </div>
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(email))
            {
                <div class="pt-6 flex items-start gap-2">
                    <i class="fa-solid fa-envelope text-[24px] text-mid-beige"></i>
                    <div>
                        <p class="font-semibold">E-mail address</p>
                        <p><a href="mailto:@email">@email</a></p>
                    </div>
                </div>
            }
        </div>

    </div>
</section>
